*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Potta One', cursive;
}

body{
  position: relative;
  height: auto;
  background-color: #ADD8E6;
}

header{
  padding-top: 1%;
  padding-bottom: 2%;
}

header .title{
  text-align: center;
  color: white;
  font-size: 150%;
  text-shadow: 2px 2px 2px #565656;
}

.container{
  position: relative;
  margin: 0 auto;
  width: 1000px;
  height: 750px;
}

[class^="card"]{  /*caratteristiche generali cards*/
  width: 200px;
  height: 225px;
  background-image: url("../assets/img/pattern.png");
  background-size: contain;
  position: absolute;
  border-radius: 10%;
  box-shadow: 3px 3px 4px #565656;
}

.scoperta{
  width: 200px;
  height: 225px;
  position: absolute;
  border-radius: 10%;
  left: 27%;
  top: 34%;
  background-color: white;
  background-image: url("../assets/img/palloncino.png");
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 4px #565656;
}

[class^="card1"]{  /*posizionamento cards*/
  left: 2%;
}
[class^="card2"]{
  left: 27%;
}
[class^="card3"]{
  left: 52%;
}
[class^="card4"]{
  left: 78%;
}

[class*="mid"]{
  top: 34%;
}

[class*="bot"]{
  top: 67%;
}

span.int-did, span.int-didS { /*positioning della span interna alla card*/
  height: auto;
  width: 150px;
  position: absolute;
  color: #E61986;
  font-size: 120%;
  top: 87%;
  left: 50%;
  margin-left: -75px;
  text-align: center;
  text-shadow: 1px 1px 2px #565656;
}

.int-did{ /*rendo NON visibili span nelle carte al passaggio*/
  display: none;
}

/*hover per carte e la loro didascalia*/
.pall:hover{
  background-color: white;
  background-image: url("../assets/img/palloncino.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.pall:hover .int-did{ /*rendo visibili span nelle carte al passaggio*/
  display: block;
}

.nave:hover{
  background-color: white;
  background-image: url("../assets/img/nave.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.nave:hover .int-did{
  display: block;
}

.trattore:hover{
  background-color: white;
  background-image: url("../assets/img/trattore.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.trattore:hover .int-did{
  display: block;
}

.bici:hover{
  background-color: white;
  background-image: url("../assets/img/bici.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.bici:hover .int-did{
  display: block;
}

.submarine:hover{
  background-color: white;
  background-image: url("../assets/img/submarine.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.submarine:hover .int-did{
  display: block;
}

footer{  /*impostazione footer*/
  text-align: center;
  font-weight: bold;
  padding-top: 1%;
  padding-bottom: 2%;
}
